

    .advertisement-section {
      width: 100%;
      max-width: 1200px;
      height: 270px;
      overflow: hidden;
      position: relative;
      display: flex;
    }

    .slides {
      display: flex;
      animation: slide 12s linear infinite;
      width: calc(100% * 6); /* Duplicate slides for seamless effect */
    }

    .slide {
      flex: 0 0 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .offer-page {
      width: 1620px;
      height: 269px;
      object-fit: contain; /* or 'cover' depending on preference */
      border-radius: 12px;
      background: #f0f0f0;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
      display: block;
  
    }

    @keyframes slide {
      0% { transform: translateX(0); }
      50% { transform: translateX(-50%); }
      100% { transform: translateX(-100%); }
      100% { transform: translateX(0); }
    }