.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  padding: 0 40px;
  background: #f8f9fa;
  height: 70px;
}

.first-Section {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  justify-content: flex-start;
  padding-left: 0;
  margin: 0;
  max-width: none;
}

.logo {
  width: 48px;    /* Adjust size as needed */
  height: 48px;
  object-fit: contain;
}

.text {
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
  margin: 0;
  letter-spacing: 1px;
}

.second-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.nav-link {
  color: #222;
  text-decoration: none;
  font-size: 1.1rem;
  margin: 0 12px;
  transition: color 0.2s, text-decoration 0.2s;
  cursor: pointer;
}

.nav-link:hover {
  color: #007bff;           /* Blue color on hover */
  text-decoration: underline;
}

.third-section {
  display: flex;
  align-items: center;
  gap: 14px; /* Adjust gap as needed */
   flex: 1;
  justify-content: flex-end;
  margin-right: 100px;
}

.user-icon {
  width: 20px;    /* Adjust size as needed */
  height: 20px;
  object-fit: contain;
  border-radius: 50%;
}

.login-button {
  padding: 8px 20px;
  font-size: 18px;
  border: none;
  border-radius: 7px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
  
}

.login-button:hover {
  background-color: #0056b3;
}